# venv
.venv/

# vscode
.vscode/

# pycache
__pycache__/

# environment variables
.env

# egg
plantsense.egg-info/

# datasets (raw, zipped)
data/raw/
data/zips/

# models
saved_models/

# DS_Store
.DS_Store/

# file structure
file_structure.md

# flask configs
app/main/config.py