{% extends "base.html" %}

{% block title %}PlantSense{% endblock %}

{% block extra_css %}
<style>
    img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .chat-log {
        background-color: #1a1a1a;
        padding: 20px;
        border-radius: 10px;
        margin-top: 20px;
        text-align: left;
        overflow-y: auto;
        max-height: 300px;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* IE and Edge */
    }

    .chat-log::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
    }

    .chat-log p {
        margin: 10px 0;
    }

    .user-message {
        color: #4CAF50;
        font-weight: bold;
    }

    .bot-message {
        color: #fff;
    }

    .feedback-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .feedback-form input[type="text"] {
        padding: 10px;
        width: 80%;
        margin-bottom: 10px;
        border: 1px solid #4CAF50;
        border-radius: 5px;
        font-size: 16px;
        color: #000;
    }

    .feedback-form button {
        width: 50%;
        font-size: 16px;
        font-weight: bold;
    }

    .feedback-form input[type="text"]:focus {
        outline: none;
        border-color: #45a049;
        box-shadow: 0 0 5px #4CAF50;
    }
</style>
{% endblock %}

{% block content %}
<h1>Welcome to PlantSense!</h1>
<p>Please upload an image of your plant, and I'll analyze it and provide insights.</p>

<!-- display image -->


<!-- upload form -->
<form method="POST" enctype="multipart/form-data">
    <input type="file" name="image" accept="image/*" required>
    <br><br>
    <button type="submit">Upload Image</button>
</form>

{% endblock %}